:root {
  --tr-color-fondo: white;
  --tr-color-borde: #2ab96b;
  --tr-color-borde-activo: #09f793;
  --tr-color-letra: black;
  --tr-color-boton: #2ab96b;
  --tr-color-boton-hover: #09f793;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.casilla {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  cursor: pointer;
  background-color: var(--tr-color-fondo);
  border: 2px solid var(--tr-color-borde);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.14s ease;
}

.casilla:active {
  background-color: var(--tr-color-borde-activo);
  color: var(--tr-color-fondo);
  transform: scale(0.95);
}

.estado {
  text-align: center;
  font-size: 1.6rem;
  margin: 20px 0;
  color: var(--tr-color-letra);
}

.contenedor-reiniciar button {
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: var(--tr-color-boton);
  color: var(--tr-color-fondo);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.contenedor-reiniciar button:hover {
  background-color: var(--tr-color-boton-hover);
}

.contenedor-reiniciar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
