body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.app-button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  max-width: 90%;
}

.app-button:disabled {
  cursor: not-allowed;
}

@media (max-width: 275px) {
  .container {
    margin-top: 10px;
    text-align: center;
  }

}
